name: Remote Triggered Script
on: [workflow_dispatch] # This allows the API to trigger it
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: python main.py
